


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override DaisyUI theme background - let Tailwind control it */
html, body, #root {
  height: 100%;
  margin: 0;
}

:root, [data-theme] {
  background-color: transparent !important;
}

.active{
  background-color: transparent !important;
  @apply text-light-primary-400 !important;
  position: relative;

}

.dark .active{
  background-color: transparent !important;
  @apply text-dark-primary-500 !important;
  position: relative;

}

.desktop-menu .active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;  
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
 @apply bg-light-primary-400 !important;
  border-radius: 50%;
}

.mobile-menu .active::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
 @apply bg-light-primary-400 !important;
  border-radius: 50%;
}



/* Remove hover effect from menu items (DaisyUI) */
.menu li a:hover {
  background-color: transparent !important;

}

.menu li a  {
  font-size: 16px !important;
}
.login_btn::after{
  content: '→';
 @apply text-light-primary-400 !important;
 @apply ml-2 !important;
 @apply font-bold !important;

}
.login_btn::after:disabled{
  content: '→';
 @apply text-light-neutral-100 !important;
 @apply ml-2 !important;
 @apply font-bold !important;

}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #392c35 !important;
  border: 2px solid; 
  @apply border-light-neutral-100 !important;
  border-radius: 9999px;
  transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #ffffff !important;
  @apply border-dark-neutral-400 !important;
  border-radius: 9999px !important;
}
.dark input:-webkit-autofill:focus {
  @apply border-dark-neutral-800 !important;
  @apply ring-2 !important;
  @apply ring-light-secondary-600;
  @apply outline-none;
}
 input:-webkit-autofill:focus {
  @apply border-light-neutral-50 !important;
  @apply ring-2 !important;
  @apply ring-light-secondary-600;
  @apply outline-none;
}


:root {
  --select-option-color: #5f4c90;
}
.dark {
  --select-option-color: #c9a3be;
}



/* الـ Class ده هيخلي الـ Gradient يتقسم خطوط مستقيمة مش ناعمة */
.palette-stripes {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
